img {
    float: center;
    width: 900px;
    height: 500px;
    margin: 300px;
    padding-top: 4px;
}
body p {
    color: crimson;
    font-size: 30px;

}
.navbar-icons {
    height: 25px;
    margin-left: 40px;
    cursor: pointer;
    display: inline-table;
}